@import "../../node_modules/fullpage.js/dist/fullpage.min.css";

.section{
    text-align: center;
}

.section__text{
    margin-top: 150px;
    position: fixed; 
    z-index: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.section_1{
background-color: red;
}

.section_2{
    background-color: blue;
}

.section_3{
  background-color: yellow;  
}

.section_4{
    background-color: purple;
}